html, body{
  margin: 0 0 0 20px;
}

.logo {
  display: block;
  height: 50px; 
}

h1, h3 {
  font-size: 15px;
}

h1, h3, ul, li, p {
  margin: 0px;
  padding: 5px 15px;
}

li{
  font-size: 15px;
}

.ruleta{
  display: flex;
  height: 90%;
}

.left {
  border: 1px solid black;
  width: 40%;
  display: block;
}

canvas {
  padding: 0;
  display: block;
}

.btnEmpezar{

}

.right {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0;
}


.puntos{
  border: 1px solid black;
  padding: 5px;
}

.preguntas{
  border: 1px solid black;
  padding: 5px;
}

.ayuda {
  font-size: 15px;
  padding: 5px;
}