html, body{
  margin: 0 0 0 20px;
}

table{
  background: #brown ;
  font-size: 20px;
}

th, tr, td{
  border: 1px solid brown;
  border-radius: 5px;
  background: #82E0AA ;
  text-align: center;
  height: 15px;
  width: 15px;
}

.hide {
  display: none;
}

.logo {
  display: block;
  height: 70px; 
  margin-bottom: 10px;
}

h1, h3 {
  font-size: 25px;
  padding-top: 10px;
}

h1, h3, ul, li, p {
  margin: 0px;
}


li{
  font-size: 15px;
}

.ruleta{
  display: flex;
  height: 90%;
}

.left {
  /*border: 1px solid black;*/
  width: 50%;
  display: block;
  position: relative;
}

.left canvas, .ayuda {
  position: absolute;
}

.ayuda {
  font-size: 15px;
  padding: 5px;
}

canvas {
  padding: 0;
  display: block;
}

.right {
/*  border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  margin: 0;
}


.puntos{
/*  border: 1px solid black;*/
  padding: 5px;
}

.preguntas{
/*  border: 1px solid black;*/
  padding: 5px;
}

.pregunta{
  margin-left: 30px;
  font-size: 20px;
}

.respuestas{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.boton_personalizado{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  margin-bottom: 8px;
}
.boton_personalizado:hover{
  color: #1883ba;
  background-color: #ffffff;
}

.cTotal {
  -webkit-animation-name: puntos; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: puntos;
  animation-duration: 6s;
}


.iTotal {
  -webkit-animation-name: puntos; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: puntos;
  animation-duration: 6s;
}

@keyframes puntos {
  from {
    background-color: #FFFF00 ;
    color: black;
  }
  to {
    background-color: #82E0AA;
    color: black;
  }
}